--
-- PostgreSQL database dump
--

\restrict 6L8KU4BbC2xZZaJ0J5b3B6sfYajj963BX40AHPcWWEXWlfs1ld44vqwDMvLa837

-- Dumped from database version 16.15
-- Dumped by pg_dump version 16.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: application_status_enum; Type: TYPE; Schema: public; Owner: ndtt_user
--

CREATE TYPE public.application_status_enum AS ENUM (
    'PENDING',
    'APPROVED',
    'REJECTED'
);


ALTER TYPE public.application_status_enum OWNER TO ndtt_user;

--
-- Name: note_status_enum; Type: TYPE; Schema: public; Owner: ndtt_user
--

CREATE TYPE public.note_status_enum AS ENUM (
    'NOT_REACHED',
    'IN_MAIL',
    'REVIEW',
    'REVIEW_2',
    'ACCEPTED',
    'REJECTED_1',
    'REJECTED_2',
    'UPLOADED'
);


ALTER TYPE public.note_status_enum OWNER TO ndtt_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: classes; Type: TABLE; Schema: public; Owner: ndtt_user
--

CREATE TABLE public.classes (
    id character varying(36) NOT NULL,
    name character varying(255) NOT NULL,
    description character varying(500),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.classes OWNER TO ndtt_user;

--
-- Name: lessons; Type: TABLE; Schema: public; Owner: ndtt_user
--

CREATE TABLE public.lessons (
    id character varying(36) NOT NULL,
    module_id character varying(36) NOT NULL,
    subject_name character varying(255) NOT NULL,
    order_label character varying(50),
    topic character varying(500),
    lesson_date date,
    assigned_team character varying(500),
    audio_status character varying(100),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.lessons OWNER TO ndtt_user;

--
-- Name: modules; Type: TABLE; Schema: public; Owner: ndtt_user
--

CREATE TABLE public.modules (
    id character varying(36) NOT NULL,
    class_id character varying(36) NOT NULL,
    name character varying(255) NOT NULL,
    description character varying(500),
    "order" integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.modules OWNER TO ndtt_user;

--
-- Name: note_applications; Type: TABLE; Schema: public; Owner: ndtt_user
--

CREATE TABLE public.note_applications (
    id character varying(36) NOT NULL,
    module_id character varying(36) NOT NULL,
    lesson_id character varying(36),
    student_name character varying(255) NOT NULL,
    student_number character varying(50),
    student_email character varying(255),
    message text,
    status public.application_status_enum NOT NULL,
    admin_note text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.note_applications OWNER TO ndtt_user;

--
-- Name: note_tracking; Type: TABLE; Schema: public; Owner: ndtt_user
--

CREATE TABLE public.note_tracking (
    id character varying(36) NOT NULL,
    lesson_id character varying(36) NOT NULL,
    status public.note_status_enum NOT NULL,
    mail_start_time timestamp with time zone,
    review_start_time timestamp with time zone,
    first_reject_date timestamp with time zone,
    second_reject_date timestamp with time zone,
    final_upload_duration character varying(100),
    last_updated timestamp with time zone DEFAULT now() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.note_tracking OWNER TO ndtt_user;

--
-- Name: status_history; Type: TABLE; Schema: public; Owner: ndtt_user
--

CREATE TABLE public.status_history (
    id character varying(36) NOT NULL,
    note_tracking_id character varying(36) NOT NULL,
    old_status public.note_status_enum,
    new_status public.note_status_enum NOT NULL,
    changed_by character varying(255),
    changed_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.status_history OWNER TO ndtt_user;

--
-- Name: teams; Type: TABLE; Schema: public; Owner: ndtt_user
--

CREATE TABLE public.teams (
    id character varying(36) NOT NULL,
    name character varying(255) NOT NULL,
    description character varying(500),
    leader character varying(255),
    members text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.teams OWNER TO ndtt_user;

--
-- Data for Name: classes; Type: TABLE DATA; Schema: public; Owner: ndtt_user
--

COPY public.classes (id, name, description, created_at, updated_at) FROM stdin;
c25c777e-d1d3-4641-bbf1-f8ef58966a72	D├Ânem 2	2024-2025 E─şitim ├û─şretim Y─▒l─▒	2026-09-25 10:10:31.06105+00	2026-09-25 10:10:31.06105+00
\.


--
-- Data for Name: lessons; Type: TABLE DATA; Schema: public; Owner: ndtt_user
--



--
-- Data for Name: modules; Type: TABLE DATA; Schema: public; Owner: ndtt_user
--

COPY public.modules (id, class_id, name, description, "order", created_at, updated_at) FROM stdin;
16ca57f5-0630-4ec8-8443-358955367002	c25c777e-d1d3-4641-bbf1-f8ef58966a72	Mod├╝l 1	\N	1	2026-09-25 10:10:31.08884+00	2026-09-25 10:10:31.08884+00
\.


--
-- Data for Name: note_applications; Type: TABLE DATA; Schema: public; Owner: ndtt_user
--

COPY public.note_applications (id, module_id, lesson_id, student_name, student_number, student_email, message, status, admin_note, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: note_tracking; Type: TABLE DATA; Schema: public; Owner: ndtt_user
--



--
-- Data for Name: status_history; Type: TABLE DATA; Schema: public; Owner: ndtt_user
--



--
-- Data for Name: teams; Type: TABLE DATA; Schema: public; Owner: ndtt_user
--

COPY public.teams (id, name, description, leader, members, created_at, updated_at) FROM stdin;
\.


--
-- Name: classes classes_pkey; Type: CONSTRAINT; Schema: public; Owner: ndtt_user
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_pkey PRIMARY KEY (id);


--
-- Name: lessons lessons_pkey; Type: CONSTRAINT; Schema: public; Owner: ndtt_user
--

ALTER TABLE ONLY public.lessons
    ADD CONSTRAINT lessons_pkey PRIMARY KEY (id);


--
-- Name: modules modules_pkey; Type: CONSTRAINT; Schema: public; Owner: ndtt_user
--

ALTER TABLE ONLY public.modules
    ADD CONSTRAINT modules_pkey PRIMARY KEY (id);


--
-- Name: note_applications note_applications_pkey; Type: CONSTRAINT; Schema: public; Owner: ndtt_user
--

ALTER TABLE ONLY public.note_applications
    ADD CONSTRAINT note_applications_pkey PRIMARY KEY (id);


--
-- Name: note_tracking note_tracking_lesson_id_key; Type: CONSTRAINT; Schema: public; Owner: ndtt_user
--

ALTER TABLE ONLY public.note_tracking
    ADD CONSTRAINT note_tracking_lesson_id_key UNIQUE (lesson_id);


--
-- Name: note_tracking note_tracking_pkey; Type: CONSTRAINT; Schema: public; Owner: ndtt_user
--

ALTER TABLE ONLY public.note_tracking
    ADD CONSTRAINT note_tracking_pkey PRIMARY KEY (id);


--
-- Name: status_history status_history_pkey; Type: CONSTRAINT; Schema: public; Owner: ndtt_user
--

ALTER TABLE ONLY public.status_history
    ADD CONSTRAINT status_history_pkey PRIMARY KEY (id);


--
-- Name: teams teams_name_key; Type: CONSTRAINT; Schema: public; Owner: ndtt_user
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT teams_name_key UNIQUE (name);


--
-- Name: teams teams_pkey; Type: CONSTRAINT; Schema: public; Owner: ndtt_user
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT teams_pkey PRIMARY KEY (id);


--
-- Name: lessons lessons_module_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ndtt_user
--

ALTER TABLE ONLY public.lessons
    ADD CONSTRAINT lessons_module_id_fkey FOREIGN KEY (module_id) REFERENCES public.modules(id) ON DELETE CASCADE;


--
-- Name: modules modules_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ndtt_user
--

ALTER TABLE ONLY public.modules
    ADD CONSTRAINT modules_class_id_fkey FOREIGN KEY (class_id) REFERENCES public.classes(id) ON DELETE CASCADE;


--
-- Name: note_applications note_applications_lesson_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ndtt_user
--

ALTER TABLE ONLY public.note_applications
    ADD CONSTRAINT note_applications_lesson_id_fkey FOREIGN KEY (lesson_id) REFERENCES public.lessons(id) ON DELETE SET NULL;


--
-- Name: note_applications note_applications_module_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ndtt_user
--

ALTER TABLE ONLY public.note_applications
    ADD CONSTRAINT note_applications_module_id_fkey FOREIGN KEY (module_id) REFERENCES public.modules(id) ON DELETE CASCADE;


--
-- Name: note_tracking note_tracking_lesson_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ndtt_user
--

ALTER TABLE ONLY public.note_tracking
    ADD CONSTRAINT note_tracking_lesson_id_fkey FOREIGN KEY (lesson_id) REFERENCES public.lessons(id) ON DELETE CASCADE;


--
-- Name: status_history status_history_note_tracking_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ndtt_user
--

ALTER TABLE ONLY public.status_history
    ADD CONSTRAINT status_history_note_tracking_id_fkey FOREIGN KEY (note_tracking_id) REFERENCES public.note_tracking(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 6L8KU4BbC2xZZaJ0J5b3B6sfYajj963BX40AHPcWWEXWlfs1ld44vqwDMvLa837

